.productPage-hearder {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.productPage-btnIcono {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  background-color: orangered;
}

.productPage-product {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  height: 90%;
  row-gap: 1rem;
}

.productPage-product-1stSection {
  display: flex;
  flex-direction: column;
  /* height: 60%; */
}

.productPage-product-1stSection > img {
  border-radius: 1.5rem;
}

.productPage-product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPage-product-price > button {
  border: none;
  background-color: orangered;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.productPage-product-description {
  font-size: 0.8rem;
  margin-top: 0rem;
}

.comentarySection {
  font-size: 0.7rem;
  height: 4rem;
  width: 100%;
  overflow-y: scroll;
}

.ReviewTitle {
  display: inline;
  margin-bottom: -0.1rem;
  margin-top: 0rem;
}

.comentarySection > ul {
  list-style: none;
}

.comentarySection-values {
  display: flex;
  row-gap: 0.2rem;
  justify-content: space-between;
  margin-left: -2.5rem;
}

/* display: flex;
    flex-direction: column;
    padding: 0rem 1rem; */
