.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #efefef9c;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.list-info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 2em;
  gap: 2em;
}

.list-publications,
.list-purchases {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
