*{
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.cont_header{
 /* background-color: brown;*/
 
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  text-align: center;
}

header{
  background-color: #d0f5df6b;
}

.cont_header nav{
 /* background-color: red;*/
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo img{
width: 100px;
}


input{
  padding: 5px 10px;
  border-color: black;
  border-style: solid;
  border-radius: 2em;
}


.cont_header a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}







@media (max-width: 700px){


  .cont_buscador{
    display: none;
  }

  .cont_header{
    width: 80%;
  }

.cont_header nav{
  gap: 20px;
}


  .logo img{
width: 70px;
  }

  
 





}


